/LK10.1PBO/nbproject/private/
/LK10.1PBO/build/
/AoliasOlahNilai/nbproject/private/
/AoliasOlahNilai/build/
/AplikasiOlahNilai/nbproject/private/
/AplikasiOlahNilai/build/
/Kalkulator/dist/
/LoginForm/nbproject/private/
/JavaApplication21/nbproject/private/
/DataSiswa/nbproject/private/
