/LK10.1PBO/nbproject/private/
/LK10.1PBO/build/
/AoliasOlahNilai/nbproject/private/
/AoliasOlahNilai/build/
/AplikasiOlahNilai/nbproject/private/
/AplikasiOlahNilai/build/
/Kalkulator/dist/
/LoginForm/nbproject/private/
/JavaApplication21/nbproject/private/
/DataSiswa/nbproject/private/
/DataSiswa/build/
/DataSiswa/dist/
/Perpustakaan/nbproject/private/
/Perpustakaan/build/
/CRUD/nbproject/private/
/CRUD/build/
/LK 13/nbproject/private/
/LK 13/build/
/Chat/nbproject/private/
/Chat/build/
/Kalkulator Fungsi Global Lokal/nbproject/private/
/Kalkulator Fungsi Global Lokal/build/
